:root {
  --brand-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --hero-color: #ffffff;
  --contact-color: rgba(255, 255, 255, 0.6);
  --main-background: #ffffff;
  --secondary-background: #f5f4fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: roboto, sans-serif;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.nav-header {
  display: flex;
  align-items: center;
}

.nav-item.nav-link {
  display: block;
  }

.nav-link {
  padding-top: 32px;
    padding-bottom: 32px;
}

.nav {
  display: flex;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo-accent {
  color: var(--brand-color);
}

.logo-link {

  color: var(--title-color);
  display: block;
  margin-right: 93px;

  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.nav {
  color: var(--title-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}



.header.nav {
  flex-grow: 1;
}

.nav-item {
  
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  text-decoration: none;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link:hover,
.nav-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--brand-color);
}

.header-contacts-item {
margin-right: 50px;
}

.header-contacts-item:last-child {
  margin-right: 0;
}
.header-contact {
  color: var(--text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.current-link {
  color: var(--brand-color);
}

/* Hero */
.section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2F303A;
  text-align: center;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imajes/hero.jpg);
}
.container.hero-title { 
  text-align: center;
}

.hero-title {
  margin: 0 auto;
  max-width: 694px;
  max-height: 120px;
  
  margin-bottom: 30px;
  color: var(--hero-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  width: 200px;
  height: 50px;

  color: var(--hero-color);
  background-color: var(--brand-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}

/*Our advantages */
.advantag {
    padding-top: 94px;
    padding-bottom: 94px;
  background-color: var(--main-background);
}

.advantag-list {
  display: flex;
}

.advantag-item {
  width: 270px;
}

.advantag-item:not(:last-child) {
  margin-right: 30px;
}

.advantag-title {
  margin-bottom: 10px;
  color: var(--title-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantag-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*Doing*/
.doin {
  padding-bottom: 94px;
  background-color: var(--main-background);
}

.doin-title {
  margin-bottom: 50px;
  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.doin-list {
  display: flex;
  
  list-style: none;
}

.doin-list-item {
  margin-right: 30px;
}

.doin-list-item:last-child {
  margin-right: 0;
}
/* Team */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-background);
}

.team-title {
  margin-bottom: 50px;
  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;

  list-style: none;
}

.team-list-lastname {
  margin-right: 30px;
}

.team-list-lastname:last-child {
  margin-right: 0;
}

.team-list-name {
  padding: 30px 10px 30px 10px;
}

.team-name {
  color: var(--title-color);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-post {
  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer */
.footer-section {
  background-color: #2F303A;
  padding: 60px 0px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: #FFFFFF;

  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-text {
  display: block;
  line-height: 24px;
}

.address {

  color: #FFFFFF;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts {
  display: flex;
  margin-top: 9px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--brand-color);
}

/* Portfolio.html */
/*Projects */

  
.projects-button {
  padding: 6px 22px;
  color: var(--title-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.projects-item:not(:last-child) {
  margin-right: 8px;
}

.projects-filter {
  display: flex;
  justify-content: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
  
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.projects-button:hover,
.projects-button:focus {
  color: var(--hero-color);
  background-color: var(--brand-color);
  cursor: pointer;
}


.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  list-style: none;
}

.pro-item {
  margin: 15px;
}

.pro-item a {
  text-decoration: none;
}

.pro-item-title {
  padding: 20px 24px 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.projects-name {
  margin-bottom: 4px;
  color: var(--title-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-type {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
